<footer class="footer">
  <ul>
    <li>
      <a href="/">
        <i class="fa-solid fa-house"></i>
      </a>
    </li>
    <li>
      <a href="/introduce">
        <i class="fa-solid fa-map-location-dot"></i>
      </a>
    </li>
    <li>
      <a href="/qr">
        <i class="fa-solid fa-qrcode"></i>
      </a>
    </li>
    <li>
      <a href="/board">
        <i class="fa-solid fa-clipboard"></i>
      </a>
    </li>
    <li>
      <a href="/users">
        <i class="fa-solid fa-user"></i>
      </a>
    </li>   
  </ul>
</footer>

<script>
  const addClickStyle = () => {
    const currentPath = window.location.pathname;
    //페이지 주소 들어갈때마다 가져온다.
    const links = document.querySelectorAll(".footer ul li a");
    //dom 태그를 가져온다.
    links.forEach((link) => {
      if (link.getAttribute("href") === currentPath) {
        link.parentElement.classList.add("on");
        //글자가 일치하면 부모(li)에 "on" class를 추가한다.
      }
    });
  };
  document.addEventListener("DOMContentLoaded", addClickStyle);
</script>
<script></script>
