
.course-container {
  width: 90%;
  padding-top: 60px;
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}
.mylocation{
  padding: 1vh 0 !important
}
.course-container .nav .title {
  color: #353535;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 30px 0;
}

#location-map {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

/* 코스목록  */

.userCourseList-wrap{
  position: absolute;
  width: 100%;
  min-width: 350px;
  height: 300px;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 10px 10px 0px 0px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: auto;
  z-index: 10;
}
.userCourseList-wrap.move{
  bottom: 80px;
}
.userCourseList-wrap .slideUP-button {
  width: 60%;
  height: 10px;
  padding: 10px 0 0 0;
  border-radius: 5px;
  margin: 1rem 0 0 0 ;
  background: #f1f0f1;
  
}
.course-nav-ul .course{
  padding: 0;
  margin: 0 10px;
}
.course-container .course-nav-ul li {
  width: 100%;
  position: relative;
  border-radius: 5px;
  background: #f1f0f1;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.course-container .course-nav-ul li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-container .course-nav-ul .course .mark-wrap {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  top: -10px;
  z-index: 15;
}
.course-nav-ul .course.on {
  background-color: #EFE3EB;
}
.course-container .course-nav-ul li div p{
  display: flex;
  align-items: center;
  color: #353535;
padding:6px 10px;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.course-container .course-nav-ul li div > span{
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 2px 8px;
    margin-right: 10px;
    background-color: #666;
    border-radius: 50%;
}
.course-container .course-nav-ul li div i{
  color: #666;
text-align: center;
font-size: 25px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding: 10px 16px;
  margin-right: 10px;
  background-color: #666;
  border-radius: 50%;
}

.course-container .course-nav-ul li div p span {
  color: #353535;
  width: 40px !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  padding: 10px 16px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #F1BBDF;
}
