
.user {
  width: 390px;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.user_img {
  width: 135px;
  height: 135px;
  border: 1px solid rgba(53, 53, 53, 0.70);
  border-radius: 50%;
  margin: 30px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile {
  width: 175px;
  height: 71px;
  margin: auto;
  border: 0.5px solid #353535;
  padding-left: 15px;
}
.user_profile p {
  margin: 10px 10px 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.stamp_DB {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.stamp_DB button {
  width: 170px;
  height: 38px;
  background-color: #F0D2E6;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #F0D2E6;
  border-radius: 5px;
  cursor: pointer;
}
.mission {
  width: 90%;
  height: 130px;
  margin: 30px 20px;
  background: #f1f0f1;
  border-radius: 5px;
  padding: 10px;
}
.mission h3 {
  font-size: 20px;
  font-weight: bold;
}
.mission h3 img {
  cursor: pointer;
}

.list {
  margin: 0 auto;
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.list p {
  width: 75px;
  height: 75px;
  background: #c1c1c1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}
.stamp_container {
  margin: 0 auto;
}
.stamp_container h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0 0 30px;
}
.stamp_container h3 img {
  cursor: pointer;
}
/* 모달 창 css*/
.mobal_1,.mobal_2 {
  display: none;
  border: 1px solid black;
  width: 350px;
  height: 236px;
  font-size: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;;
  z-index: 9999;
  margin: 0 auto;
}
.Mditail {
  padding-top: 60px;
  width: 330px;
  margin: 0 auto;
}
.Mditail1 p:nth-child(3){
  margin-top: 30px;
}
.Mditail2 p:nth-child(3){
  margin-top: 30px;
}
.mobal_1 p, .mobal_2 p {
  text-align: center;
  font-size: 15px
}

.modal-button {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobal_2.open{display: block;}

.tabs1 {
  padding-top: 20px;
  width: 90%;
  margin: 0 auto;
}

/* 탭 스타일 */
.tab_item_user {
  width: calc(100% / 4);
  height: 50px;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  margin: right 0; ;
  transition: all 0.2s ease;
}
.tab_item_user:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item_user"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content1 {
  display: none;
  padding: 25px 30px 10px 40px;
  clear: both;
  overflow: hidden;
}

/* 선택 된 탭 콘텐츠를 표시 */
#tab_1:checked ~ #tab_1_content,
#tab_2:checked ~ #tab_2_content,
#tab_3:checked ~ #tab_3_content,
#tab_4:checked ~ #tab_4_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* align-items: start; */
  gap: 20px;
}

/* 선택된 탭 스타일 */
.tabs1 input:checked + .tab_item_user {
  /* background-color: #333333; */
  color: black;
}


.tab_content1 div{
  height: 80px;
  width: 80px;
  background-color: #C1C1C1;
  /* border: 1px solid #333333; */
  border-radius: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content:center;
  align-items: center;
}


/* .nostamp{
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.tab_1-1,
.tab_1-2,
.tab_1-3,
.tab_2-1,
.tab_2-2,
.tab_2-3,
.tab_3-1,
.tab_3-2,
.tab_3-3,
.tab_4-1,
.tab_4-2,
.tab_4-3 {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.tab_1-1 div,
.tab_1-2 div,
.tab_1-3 div,
.tab_2-1 div,
.tab_2-2 div,
.tab_2-3 div,
.tab_3-1 div,
.tab_3-2 div,
.tab_3-3 div,
.tab_4-1 div,
.tab_4-2 div,
.tab_4-3 div {
  width: 90px;
  height: 90px;
  background: #c1c1c1;

  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
} */
.tab_yellow {
  background: #fffbd6;
}
.tab_brown {
  background: #ebe5da;
}
.tab_green {
  background: #eafaee;
}
.tab_pink {
  background: #ffeee4;
}
.tabs1 .tab_item_user {
  height: 30px;
  font-size: 15px;
  font-weight: normal;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabs1 p {
  color: #353535;
  font-size: 12px;
  padding: 15px;
}

/*모달 창*/

/* .mobal_1 {
  border: 1px solid black;
  padding: 20px;
  display: none;
}
.mobal_2 {
  border: 1px solid black;
  padding: 20px;
  display: none;
} */