/* users */
/* @font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
} */

.user {
  width: 390px;
  height: 200px;
  /* margin: 30px 20px 0 20px; */
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* transition: all 0.5s; */
  z-index: 10;
}
.user_img {
  width: 135px;
  height: 135px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 30px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_profile {
  width: 175px;
  height: 71px;
  margin: auto;
  /* border: 1px solid black; */
}
.user_profile p {
  margin: 10px 10px 0 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
.stamp_DB {
  width: 390px;
  display: flex;
  flex-direction: row;

  margin: 30px 0 0 20px;
}
.stamp_DB button {
  width: 170px;
  height: 38px;
  background-color: #ffecf8;
  margin: 30px 20px 30px 20px;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border: 1px solid #ffecf8;
  border-radius: 5px;
  background: #f1f0f1;
}
.introduce-wrap h1 {
  padding: 10px 0 10px 0;
  font-weight: 900;
  color: #353535;
}
.mission h3 img {
  cursor: pointer;
}

.list {
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.list p {
  width: 75px;
  height: 75px;
  background: #c1c1c1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.stamp_container {
  margin-left: 20px;
}
.stamp_container h3 {
  font-size: 20px;
  margin: 10px;
}
.stamp_container h3 img {
  cursor: pointer;
}
/* 모달 창 css*/
.mobal_1,.mobal_2 {
  display: none;
  border: 1px solid black;
  width: 390px;
  height: 236px;
  font-size: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;;
  z-index: 9999;
  margin: 0 auto;
}
.Mditail {
  margin-top: 80px;
}
.mobal_1 p, .mobal_2 p {
  text-align: center;
}

.modal-button {
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mobal_2.open{display: block;}

.tabs {
  margin-top: 50px;
  padding-bottom: 40px;
  background-color: #ffffff;
  width: 390px;
  height: 500px;
  margin-left: 5px;
 
}

/* 탭 스타일 */
.tab_item_user {
  width: calc(100% / 4);
  height: 50px;
  background-color: #f8f8f8;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  display: block;
  float: left;
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  margin: right 0; ;
  transition: all 0.2s ease;
}
.tab_item_user:hover {
  opacity: 0.75;
}

/* 라디오 버튼 UI삭제*/
input[name="tab_item_user"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.tab_content {
  display: none;
  /* padding: 40px 40px 0; */
  clear: both;
  /* overflow: hidden; */
}

/* 선택 된 탭 콘텐츠를 표시 */
#art:checked ~ #art_content,
#history:checked ~ #history_content,
#healing:checked ~ #healing_content,
#shopping:checked ~ #shopping_content {
  display: block;
}

/* 선택된 탭 스타일 */
.tabs input:checked + .tab_item_user {
  /* background-color: #333333; */
  color: black;
}

.tab_1-1,
.tab_1-2,
.tab_1-3,
.tab_2-1,
.tab_2-2,
.tab_2-3,
.tab_3-1,
.tab_3-2,
.tab_3-3,
.tab_4-1,
.tab_4-2,
.tab_4-3 {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tab_1-1 div,
.tab_1-2 div,
.tab_1-3 div,
.tab_2-1 div,
.tab_2-2 div,
.tab_2-3 div,
.tab_3-1 div,
.tab_3-2 div,
.tab_3-3 div,
.tab_4-1 div,
.tab_4-2 div,
.tab_4-3 div {
  width: 90px;
  height: 90px;
  background: #c1c1c1;

  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.tab_yellow {
  background: #fffbd6;
}
.tab_brown {
  background: #ebe5da;
}
.tab_green {
  background: #eafaee;
}
.tab_pink {
  background: #ffeee4;
}
.tabs .tab_item_user {
  height: 30px;
  font-size: 15px;
  font-weight: normal;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tabs p {
  color: #353535;
}

/*모달 창*/

/* .mobal_1 {
  border: 1px solid black;
  padding: 20px;
  display: none;
}
.mobal_2 {
  border: 1px solid black;
  padding: 20px;
  display: none;
} */
