<%- include('common/header.ejs') %>
<div class="container writing-container">
    <h1>후기 작성하기</h1>
    <div class="writing-box">
        <div class="writing-btn">
            <button class="writing-btn1"> 작성취소 </button>
            <button class="writing-btn2"> 작성완료 </button>
        </div>
        <div class="writing-input-wrap">
            <input class="writing-title" type="text" placeholder="제목을 입력해 주세요" />
            <input type="file" />
            <input class="writing-text" type="text" placeholder="내용을 입력해 주세요 " />
        </div>
    </div>
</div>


<%- include('common/footer.ejs') %>