<%- include('common/header.ejs') %>

<div class="course-container">
  <nav class="nav">
    <p class="title">내가 담은 나의 여행 코스</p>
  </nav>

  <div class="content-container">
    <div id="location-map"></div>
    <ul id="course-wrap" class="course-nav-ul"></ul>
  </div>
  <div class="userCourseList-wrap " id="slideTarget">
    <div id="slideUpButton" class="slideUP-button"> </div>
    <ul id="course-wrap" class="course-nav-ul">
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
      <!-- 반복되는부분 -->
      <li class="course" onclick="clickCourseList(event)">
        <div class="mark-wrap"><img src="/file/complete.png" /></div>
        <div>
          <p><span>1</span>코스이름</p>
          <span onclick="deleteMyCourseList()">-</span>
        </div>
      </li>      
    </ul>
  </div>
</div>
<!-- course페이지 들어왔을때만 스크립트 실행 -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=36b55f73185a63e716f9a576990e3a8b"></script>
<!-- <script src="/js/course.js"></script> -->
<script src="/js/myCourse.js"></script>
<%- include('common/footer.ejs') %>
