<%- include('common/header.ejs') %>
<div class="container tutorial-container">
    <div class="recommen-wrap">
    <h1 class="recommen-title">당일치기 추천 코스</h1>
        <div class="recommen-img">
            <img src="../file/tutorial/tutorialRecommendation.png" alt="추천코스지도">
        </div>
        <div class="recommen-btn">
            <div class="recommen-btn-num num1"><p>1</p></div>
            <div class="recommen-btn-text">대구예술발전소</div>
        </div>
        <div class="recommen-btn">
            <div class="recommen-btn-num num2"><p>2</p></div>
            <div class="recommen-btn-text">향촌문화관</div>
        </div>
        <div class="recommen-btn">
            <div class="recommen-btn-num num3"><p>3</p></div>
            <div class="recommen-btn-text">대구 현대백화점</div>
        </div>
        <div class="recommen-btn">
            <div class="recommen-btn-num num4"><p>4</p></div>
            <div class="recommen-btn-text">수성못</div>
        </div>
    </div>
</div>
<%- include('common/footer.ejs') %>