<%- include('common/header.ejs') %>
  <div class="container">
    <div class="user">
      <div class="user_img">
        <img src="../file/user/user-icon.png">
      </div>
      <div class="user_profile">
      </div>
    </div>

    <div class="stamp_DB">
     <button class="mycourse">
      담은 코스 확인하기
    </button>
     <button onclick="location.href='/board'">
      나의 후기 작성하기
    </button>
    </div>
    <div class="mission">
      <h3>미션 스탬프 완료 현황 
        <img src="../file/user/add.png" id="img_1" />
      </h3>
      <div class="list">
        <p id="artmission"></p>
        <p id="hismission"></p>
        <p id="restmission"></p>
        <p id="shopmission"></p>
      </div>
    </div>

    <div class="mobal_1" id="modal_1">
      <button class="modal-button" onclick="closeModal('modal_1')">X</button>
      <div class="Mditail Mditail1">
        <p>
          각 카테고리별로 1개의 장소에 가서 인증을 하면
        </p>
        <p>
          총 4개의 미션 스탬프를 얻을 수 있습니다.
        </p>

        <p>
          ※ 미션 스탬프를 모두 모으면 상품을 받을 수 있습니다.
        </p>
      </div>
    </div>

   <div class="stamp_container">
    <h3>자동 응모 스탬프 모음
      <img id="img_2"src="../file/user/add.png">
    </h3>
     <div class="mobal_2" id="modal_2">
       <button class="modal-button" onclick="closeModal('modal_2')">X</button>
       <div class="Mditail Mditail2">
       <P>카테고리와 상관없이 대구 관광지 10곳을 인증하여</P>
       <P>10개의 스탬프를 받으면 상품에 자동응모가 됩니다.</P>
       <P>※ 자동응모가 된 이후로도 인증을 하면 스탬프를 받을 수 있습니다.</P>
       <P>※ 미션 스탬프를 모두 모아야 상품에 응모 가능합니다.</P>
     </div>
    </div>

     <div class="tabs1">
       <!--라벨-->
       <input id="tab_1" type="radio" name="tab_item_user" checked />
       <label class="tab_item_user tab_yellow" for="tab_1">예술과 과학</label>
       <input id="tab_2" type="radio" name="tab_item_user" />
       <label class="tab_item_user tab_brown" for="tab_2">역사와 문화</label>
       <input id="tab_3" type="radio" name="tab_item_user" />
       <label class="tab_item_user tab_green" for="tab_3">자연과 휴식</label>
       <input id="tab_4" type="radio" name="tab_item_user" />
       <label class="tab_item_user tab_pink" for="tab_4">관광과 쇼핑</label>
       <!--라벨 내용1-->
       <div class="tab_content1 tab_yellow" id="tab_1_content">
         
       </div>
       <!--라벨 내용2-->
       <div class="tab_content1 tab_brown" id="tab_2_content">
    
       </div>
       <!--라벨 내용3-->
       <div class="tab_content1 tab_green" id="tab_3_content">
        
       </div>

       <!--라벨 내용4-->
       <div class="tab_content1 tab_pink" id="tab_4_content">
 
       </div>
     </div>
   </div>
 </div>

 <%- include('common/footer.ejs') %>
 <script src="/js/users.js"></script>
 
</body>
</html>